// @Author: Andreee Ray <DevelDoe>
// @Date:   2017-03-05T21:26:55+01:00
// @Email:  me@andreeray.se
// @Filename: _variabels.scss
// @Last modified by:   develdoe
// @Last modified time: 2017-03-11T16:15:08+01:00


$font-color: #bceaff;
$letter-spacing: 2px;
$font-size: 15px;
