// @Author: Andreee Ray <DevelDoe>
// @Date:   2017-03-05T21:26:55+01:00
// @Email:  me@andreeray.se
// @Filename: _variabels.scss
// @Last modified by:   DevelDoe
// @Last modified time: 2017-03-05T22:33:11+01:00


$color-base: #bceaff;
$letter-spacing: 2px;
$font-size: 15px;
